<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>BlueBrim Tiny Content Management System</display-name>
	<servlet>
		<servlet-name>file</servlet-name>
		<servlet-class>se.bluebrim.tiny.cms.FileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>se.bluebrim.tiny.cms.UploadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gallery</servlet-name>
		<servlet-class>se.bluebrim.tiny.cms.GalleryServlet</servlet-class>
		<init-param>
			<param-name>images-base-url</param-name>
			<param-value>${images-base-url}</param-value>
		</init-param>
		<init-param>
			<param-name>side-by-side-masks</param-name>
			<param-value>sv_SE, en_US</param-value>
		</init-param>
		
	</servlet>

	<servlet>
		<servlet-name>clean</servlet-name>
		<servlet-class>se.bluebrim.tiny.cms.CleanServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>file</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>gallery</servlet-name>
		<url-pattern>/gallery/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>clean</servlet-name>
		<url-pattern>/clean</url-pattern>
	</servlet-mapping>
	
	<mime-mapping>	
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>	
	</mime-mapping>
	
</web-app>
