/*
HTML and CSS Table Border Style Wizard: http://www.somacon.com/p141.php
*/
body {
	background-color: #F2F2F2;
} 
h4 {
	font-family: sans-serif;
}
table {
	background-color: white;
	border-style: none;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;	
}
td {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding: 20px;
}
p.filename, p.subdirectoryTitle {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0088CC;	
}
pre.docbook {
	font-family: monospace;
	font-size: 12px;		
}